
<!--Search Field-->
<div class="form-group">
  <input
    [(ngModel)]="searchText"
    placeholder="Search"
    class="search-input"
    type="text">
</div>

<!-- ----------------------------- HEADER ROW ------------------------------ -->
<tr class="table-row header">
  <th [style.flex-basis]="config.columnWidth._1">Symbol</th>
  <th [style.flex-basis]="config.columnWidth._2">Ask Price</th>
  <th [style.flex-basis]="config.columnWidth._3">Count</th>
  <th [style.flex-basis]="config.columnWidth._4">Bid Price</th>
  <th [style.flex-basis]="config.columnWidth._5">Low Price</th>
  <th [style.flex-basis]="config.columnWidth._6">High Price</th>
</tr>

<!-- ------------------------------ DATA ROWS ------------------------------ -->
<table>
  <cdk-virtual-scroll-viewport [itemSize]="itemSize" [style.height]="viewportHeightPx + 'px' ">
    <tr
      *cdkVirtualFor="let crypto of cryptocurrencies | filterAll:searchText"
      class="table-row data">
      <td [style.flex-basis]="config.columnWidth._1">
        {{ crypto.symbol | uppercase }}
      </td>
      <td [style.flex-basis]="config.columnWidth._2">
        {{ crypto.askPrice }}
      </td>
      <td [style.flex-basis]="config.columnWidth._3">
        {{ crypto.count }}
      </td>
      <td [style.flex-basis]="config.columnWidth._4">
        {{ crypto.bidPrice }}
      </td>
      <td [style.flex-basis]="config.columnWidth._5">
        {{ crypto.lowPrice}}
      </td>
      <td [style.flex-basis]="config.columnWidth._6">
        {{ crypto.highPrice}}
      </td>
    </tr>
  </cdk-virtual-scroll-viewport>
</table>
